In [5]:
# loading in libraries and datasets
library(tidyverse)
players_info <- read_csv('data/players.csv')

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [9]:
# tidying and wrangling data
tidy_players_info <- players_info |>
    mutate(subscribe = as.factor(subscribe)) |>
    mutate(experience = as.factor(experience)) |>
    select(subscribe, played_hours, Age)

head(tidy_players_info)

  subscribe played_hours Age
1 TRUE      30.3          9
2 TRUE       3.8         17
3 FALSE      0.0         17
4 TRUE       0.7         21
5 TRUE       0.1         21
6 TRUE       0.0         17