In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [3]:
players_info <- read_csv('data/players.csv')
tidy_players_info <- players_info |>
    mutate(subscribe = as.factor(subscribe)) |>
    mutate(experience = as.factor(experience)) |>
    select(subscribe, played_hours, Age)

head(tidy_players_info)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  subscribe played_hours Age
1 TRUE      30.3          9
2 TRUE       3.8         17
3 FALSE      0.0         17
4 TRUE       0.7         21
5 TRUE       0.1         21
6 TRUE       0.0         17

In [16]:
library(tidymodels)


player_split <- initial_split(tidy_players_info, prop = 0.75, strata = subscribe)  
player_train <- training(player_split)   
player_test <- testing(player_split)

player_recipe <- recipe(subscribe ~ played_hours + Age, data = player_train) |>
    step_scale(all_predictors()) |>
    step_center(all_predictors())

player_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |>
    set_engine("kknn") |>
    set_mode("classification")

player_fit <- workflow() |>
    add_recipe(player_recipe) |>
    add_model(player_spec) 

player_vfold <- v_foldcv(player_train, v = 5, strata = subscribe)

grid <- 
player_predicton <- predict(player_fit, player_test)
player_predicton

   .pred_class
1  FALSE
2  TRUE
3  TRUE
4  TRUE
5  FALSE
6  FALSE
7  FALSE
8  TRUE
9  FALSE
10 TRUE
11 FALSE
12 FALSE
13 TRUE
14 TRUE
15 FALSE
16 TRUE
17 TRUE
18 TRUE
19 TRUE
20 TRUE
21 TRUE
22 TRUE
23 TRUE
24 TRUE
25 FALSE
26 FALSE
27 FALSE
28 FALSE
29 TRUE
30 TRUE
31 FALSE
32 TRUE
33 TRUE
34 FALSE
35 TRUE
36 TRUE
37 TRUE
38 TRUE
39 TRUE
40 FALSE
41 FALSE
42 FALSE
43 FALSE
44 TRUE
45 TRUE
46 TRUE
47 FALSE
48 FALSE
49 TRUE